.drink-img {
    width: 200px;
    height: 200px;
    background-color: white;
}

.td-20 {
    width: 20%;
}
.td-10 {
    width: 10%;
}
.marg-20 {
    margin: 20px;
}
td {
    word-break: break-all;
}