<div *ngIf="modelIsReady">
    <div class="row conf-row" *ngIf="!cashIsChanging; else edit">
      <div class="conf-info col-sm-3">
        Баланс автомата: 
      </div>
      <div class="conf-info col-sm-3">
        {{vendingModel.cash}}
      </div>
      <button class="btn btn-primary" (click)="switchChangeCashMode()">Изменить</button>
    </div>
    <div class="row conf-row">
      <div class="conf-info col-sm-6">
        Запрещенные монеты:
      </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Монета</th>
                <th>Статус</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let coin of vendingModel.coinList">
                <td class="td-width-300">{{coin}} руб</td>
                <td class="td-width-300">{{vendingModel.getCoinStatus(coin)}}</td>
                <td><button class="btn btn-sm btn-primary" (click)="changeBlocking(coin)">{{vendingModel.getCoinStatusAction(coin)}}</button></td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #edit>
    <div class="row conf-row">
        <div class="conf-info col-sm-3">
            Баланс автомата: 
        </div>
        <input type="number" class="form-control col-sm-3" placeholder="Новое значение" aria-label="Новое значение" [(ngModel)]="vendingModel.cash">
        <button class="btn btn-primary" (click)="saveNewCash()">Сохранить</button>
    </div>
</ng-template>